@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f53838;
    --bg-pseudo: rgba(245, 56, 56, 0.35);
}

.cliptext {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 4);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@layer base {
    .heading {
        @apply font-medium text-[#0B132A] text-4xl leading-[1.43];
    }

    .desc {
        @apply font-normal text-base leading-[1.88] text-[#4F5665] mt-5;
    }
}

@layer components {
    .nav {
        @apply px-5 py-3 font-normal text-base leading-5 hover:text-[var(--primary-color)];
    }

    .btn-nav {
        @apply ml-[30px] min-w-[150px] border border-solid border-[var(--primary-color)] rounded-[50px] px-6 py-[9.84px] text-[var(--primary-color)] text-base leading-5 font-medium hover:text-white hover:bg-[var(--primary-color)];
    }

    .btn-hero {
        @apply relative after:content-[''] after:absolute after:w-[211.83px] after:inline-block after:h-[59.8px] after:top-6 after:left-[19px] after:bg-[var(--bg-pseudo)] after:rounded-[10px] after:-z-10 after:blur-2xl inline-block min-w-[250px] px-12 py-[18px] rounded-[10px] bg-[var(--primary-color)] text-white font-bold text-base mt-[50px] text-center z-10;
    }

    .pseudo-ele {
        @apply after:content-[''] after:absolute after:left-9 after:top-8 after:inline-block after:w-[93%] after:h-48 after:rounded-[10px] after:bg-[#0D1025] after:opacity-[0.06] after:blur-[57px] after:-z-10;
    }

    .line {
        @apply after:content-[''] after:absolute after:inline-block after:h-[125.57px] after:border-l-2 after:border-solid after:border-[#EEEFF2] after:left-[-113px];
    }
}
